@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

body {
    background-color: grey;
}

/* #artist-results {
    display:flex;
    flex-direction: column;
    align-items: center;
} */

header {
    background-color: lightgray;
    padding: 5px;
}

.center {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb {
    margin-bottom: 10px;
}

#artist-name {
    padding: 10px;
    margin: 10px;
}



.artist-container {
    width: 50vw;
    margin-bottom: 1rem;
    background-color: white;
    height: 5rem
}

.artist-container h1 {
    font-weight: bold;
    text-decoration: underline;
}